

<div class="container">
    <div class="cover">
      <img [src]="blog.coverUrl" alt="Puffins" />
    </div>
    <div class="details">
      <div class="head">
        <div class="user">
          <div class="user_image">
            <img [src]="blog.coverUrl" alt="Puffins" />
          </div>
          <div class="user_info">
            <input type="text" value='{{blog.author.full_name}}'>
            <span class="user_email"><input type="text" value="{{blog.author.email}}"></span>
          </div>
        </div>
        <div class="date"><p>{{blog.updatedAt | date: "medium"}}</p></div>
      </div>
      <div class="body">
        <div class="title"><h4><input type="text" value="{{blog.title}}"></h4></div>
        <div class="content">
          <p contenteditable>
            {{blog.content}}
          </p>
        </div>
      </div>
      <div class="read_count"><p>Read times {{blog.read_count}}(times)</p></div>
    </div>
  </div>