/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Ubuntu', sans-serif;
}
button,
input,
img {
  outline: none;
  cursor: pointer;
}

img{
  object-fit: cover;
}